#ecf-container{
	/* background-color:rgba(197,136,164,0.84); */
	background-color:rgba(220,220,220,0.84);
	text-align: center;
	padding: 20px;
}

#ecf-container h1{
    margin-bottom: 5px;
}

#ecf-container label{
	display: none;
}

#ecf-container input{
	width: 80%;
	display: inline;
	margin: 20px 0;
}

#ecf-container textarea{
	width: 80%;
	display: inline;
	margin: 20px 0;
	resize: none;
}

.ecf-required{
	margin-left: 3px;
	font-size: 2em;
	color: red;
	vertical-align: top;
}

.ecf-not-required{
	visibility: hidden;
	margin-left: 3px;
	font-size: 2em;
	color: red;
	vertical-align: top;
}

#ecf-view-contacts-field{
	background-color: white;
	padding: 5px;
	display: none;
	max-height: 400px;
	overflow: auto;
	/* Make sure line breaks display */
  white-space: pre; 
}

